<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="ms-5 me-5">
    <br>
    <h1>Products</h1>
    <hr class="hr" />
    <br>
    <a class="btn btn-success"
       th:href="@{/product(action='Add')}" role="button">
        <i class="fas fa-plus-circle"></i>
        New Product
    </a>
    <div>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">Tag</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
                <tr th:if="${products.empty}">
                    <td colspan="2"> No Products Available </td>
                </tr>
                <tr th:each="product : ${products}">
                    <td><span th:text="${product.tag}"> Tag </span></td>
                    <td><span th:text="${product.name}"> Name </span></td>
                    <td><span th:text="${product.description}"> Description </span></td>
                    <td>
                        <a class="btn btn-primary"
                           th:href="@{/product(action='Edit',id=${product.id})}" role="button">
                            <i class="fas fa-pen-square fa-fw me-3"></i>
                            Modify
                        </a>
                        <a class="btn btn-danger"
                           href="#!" role="button">
                            <i class="fas fa-minus-square fa-fw me-3"></i>
                            Delete
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">...</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>